body {
  font-family: "AtlasTypewriterRegular", "Andale Mono", "Consolas", "Lucida Console", "Menlo", "Luxi Mono", monospace;
  margin: 0;
  background-color: #000;
  color: #FFF;
}

.header {
  position: absolute;
  background-color: #1F1F1F;
  width: 100%;
  z-index: 100;
  text-align: center;
}

#rattyduck {
  position: absolute;
  left: 0;
  margin: 10px;
}

#rattyduck a {
  padding: 3px;
  border-radius: 5px;
  font-size: 14px;
  color: #000;
  background-color: #FFEA4D;
}

#settings-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: #333;
  padding: 10px;
}

#settings-button:hover {
  background-color: #FFF;
  color: #000;
}

#settings-button a {
  color: #FFF;
}

#title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

body {
  font-size: 12px;
  overflow: hidden;
}

.settings-pane {
  z-index: 100;
  position: absolute;
  right: 0px;
}

.previous-button, .next-button {
  width: 100px;
  text-align: center;
  background-color: #000;
  z-index: 100;
}

.previous-button:hover, .next-button:hover {
  background-color: #FFF;
  color: #000;
  cursor: pointer;
}

.arrow {
  font-size: 50px;
  font-weight: bold;
}

.previous-button {
  left: 50px;
}

.next-button {
  right: 50px;
}

#click-message {
  z-index: 100;
  font-size: 15px;
  background-color: #1F1F1F;
  padding: 10px;
}
